
<head>
@{
	ViewData["Title"] = "Become VIP";
}
</head>

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="vip-membership-section">

    <h2>Why Become a <span class="text-danger">Fury</span>Rent VIP Member?</h2>
        <ul class="benefits-list fs-5">
            <li><span class="icon">Gain Access to Special Vehicles</span></li>
        </ul>

    <h2>How to Become a <span class="text-danger">Fury</span>Rent VIP Member</h2>
        <ol class="steps-list fs-5">
            <li>Make 3 rents</li>
            <li>Have the time of your life with our great cars!</li>
        </ol>

    <form asp-action="Become" method="post">
        <div class="mb-3">
            <input class="btn btn-outline-danger mb-2 w-50 p-3 fw-bold" type="submit" value="Become VIP" />
        </div>
    </form>

 </div>