<body>
	<div class="fw-light">
		<h2 class="text-center mb-3">Welcome to <span class="text-danger">Fury</span>Rent - Unleash the Power of Freedom on Wheels!</h2>

		<div class=" container-xl align-items-center mb-5">
			<p class="text-start lh-sm fs-5">
				At <span class="text-danger">Fury</span>Rent, we believe in the thrill of the open road and the freedom that comes with it.
				Our mission is to empower you to explore the world at your own pace, turning every journey into an unforgettable adventure.
				Whether you're a solo traveler, a family on vacation, or a business professional in need of reliable transportation, <span class="text-danger">Fury</span>Rent is here to fuel your wanderlust.
			</p>
		</div>

		<div class="container-lg">
			<div class="row">
				<div class="col">
					<h4 class="mb-3">Why <span class="text-danger">Fury</span>Rent?</h4>
					<ul>
						<li>
							<p class="lh-sm fs-5">Wide Range of Vehicles: Choose from our diverse fleet of top-notch vehicles, ranging from sleek sedans to spacious SUVs and everything in between. We have the perfect ride for every occasion.</p>
						</li>
						<li>
							<p class="lh-sm fs-5">Seamless Booking: Our user-friendly app ensures a hassle-free booking experience. Simply select your preferred car, pick-up and drop-off locations, and let us take care of the rest. Booking a car has never been this easy.</p>
						</li>
						<li>
							<p class="lh-sm fs-5">Competitive Pricing: We understand the value of your hard-earned money. Enjoy competitive and transparent pricing with no hidden fees. At FuryRent, you get the best bang for your buck.</p>
						</li>
						<li>
							<p class="lh-sm fs-5">Safety First: Your safety is our priority. Our vehicles undergo rigorous inspections to ensure they meet the highest safety standards. Drive with confidence, knowing that your well-being is our top concern.</p>
						</li>
						<li>
							<p class="lh-sm fs-5">24/7 Customer Support: Have a question or need assistance? Our dedicated customer support team is available around the clock to provide prompt and friendly assistance. We're here for you every step of the way.</p>
						</li>
					</ul>
				</div>
				<div class="col">
					<h4 class="mb-3">Experience the <span class="text-danger">Fury</span>Rent Difference</h4>
					<p class="lh-sm fs-5"><span class="text-danger">Fury</span>Rent isn't just a car rental service. it's a gateway to unparalleled experiences. Whether you're embarking on a road trip, exploring a new city, or just need a reliable set of wheels for your daily commute, FuryRent is your trusted companion.</p>
					<p class="lh-sm fs-5">Join the <span class="text-danger">Fury</span>Rent community today and unlock the joy of seamless travel. Your journey begins here.</p>
					<p class="lh-sm fs-5">Fuel your passion. Drive with <span class="text-danger">Fury</span>Rent.</p>

					<a asp-area="" asp-controller="Car" asp-action="All" class="btn btn-outline-danger">View our Cars</a>
				</div>
			</div>
		</div>
	</div>
</body>
